* {
  font-family: 'Montserrat', sans-serif;
}

header a {
  color: #1E1E1E;
}

header a:hover {
  color: #7f7f7f;
}

.navbar-nav a {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-weight: 200;
  font-size: 18px;
  line-height: 29px;
  color: black;
}

.section-header {
  margin-bottom: 40px;
  font-weight: bold;
  font-weight: 800;
  font-size: 58px;
  line-height: 60px;
  color: #2B5474;
  text-align: center;
}

.bulletList {
  width: 67px;
  height: 66px;
  border-radius: 100%;
  border: none;
  background: #DDB369;
  cursor: default !important;
}

.services-list h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: black;
}

.packages-item-1 {
  background-image: url(./assets/image\ 3.png);
  width: 387.95px;
  height: 317px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packages-item-2 {
  background-image: url(./assets/image\ 4.png);
  width: 387.95px;
  height: 317px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packages-item-3 {
  background-image: url(./assets/image\ 5.png);
  width: 387.95px;
  height: 317px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packages-item-4 {
  background-image: url(./assets/image\ 6.png);
  width: 387.95px;
  height: 317px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packages-item-5 {
  background-image: url(./assets/image\ 7.png);
  width: 387.95px;
  height: 317px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packages-item-6 {
  background-image: url(./assets/image\ 8.png);
  width: 387.95px;
  height: 317px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.packages h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: white;
  margin-top: 40px;
}

.packages h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: white;
}

.packages p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.contact-us input {
  background-color: #B9C1C4;
}

.contact-us input:focus {
  background-color: #B9C1C4;
}

.contact-us label {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.btnSubmit {
  background-color: #2B5474;
  border: 0;
  border-radius: 5px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  color: white;
  width: 197.58px;
  height: 60.38px;
}

.footer-content {
  margin-top: 100px;
  background-color: #DDB369;
  height: 510px;
}

.footer-content h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 30px;
}

.footer-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  
}


