* {
  font-family: 'Montserrat', sans-serif;
}

header a {
  color: #1E1E1E;
}

header a:hover {
  color: #7f7f7f;
}

p {
  font-weight: 200;
  font-size: 18px;
  line-height: 29px;
  color: black;
}

.section-header {
  margin-bottom: 40px;
  font-weight: bold;
  font-weight: 800;
  font-size: 58px;
  line-height: 60px;
  color: #2B5474;
  text-align: center;
}

.service-offers {
  width: 100%;
}

.service-offers h2 {
  font-weight: 900;
  font-size: 32px;
  color: black;
}

.service-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 50px;
  width: 80%;
  margin: 0 auto;
}
